.icon-left {
  position: absolute;
  top: 16px;
  left: 16px;
}

.icon-right {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.season-display.winter i {
  color: white;
}

.season-display.summer i {
  color: orange;
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter {
  background-color: skyblue;
}

.summer {
  background-color: yellow;
}
